* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*redid my css. added a background image to header. shadowed the header and links*/
body {
    background-color: white;
}
.header {
    background-image: url("../images/coding.jpg");
    width: 100%;
    height: 200px;
    padding-top: 4%;
    padding-left: 2%;
    color: white;
}
.header h1 {
    display: inline-block;
    font-size: 60px;
    text-shadow: 10px 10px black ;
   }
a {
    color: white;
    text-decoration: none;
    margin: 10px;
    text-shadow: 8px 8px black;
}  

.header div {
    float: right;
    font-size: 40px;
    margin-right: 5%;
}

.header div ul li {
   display: inline-block;
}

.header ul li :hover {
    font-size: 50px;
    color: red;
}
.learn-to-code {
    height: 500px;
    width: 100%;
    margin-top: 30px;
}
/*resized picture to fit in about me*/
.me {
    height: 120px;
    width: 120px;
    margin-left: 150px;
}