* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*redid my css. added a background image to header. shadowed the header and links*/
body {
    background-color: black;
}
.header {
    background-image: url("../images/coding.jpg");
    width: 100%;
    height: 200px;
    padding-top: 4%;
    padding-left: 2%;
    color: white;
}
.header h1 {
    display: inline-block;
    font-size: 60px;
    text-shadow: 10px 10px black ;
   }
a {
    color: white;
    text-decoration: none;
    margin: 10px;
    text-shadow: 8px 8px black;
}  

.header div {
    float: right;
    font-size: 40px;
    margin-right: 5%;
}

.header div ul li {
   display: inline-block;
}

.header ul li :hover {
    font-size: 50px;
    color: red;
}
.learn-to-code {
    height: 500px;
    width: 100%;
    margin-top: 30px;
}
/*resized picture to fit in about me*/
.me {
    height: 120px;
    width: 120px;
    margin-left: 150px;
    visibility: hidden;
  
}
.About-me {
    background-image: url("../images/code.jpg");
    border-style: groove;
    border-color: white;
    width: 80%;
    margin-left: 10%;
    height: 100%;
}
h2  {
    text-align: center;
   color: yellow; 
  font-size: 50px;}
h3 {
    color: white;
    text-align: center;
}  
p {
    color: white ;
    font-size: 25px;
    text-shadow: 6px 6px black ;
    font-weight: bolder;
    visibility: hidden;
}
.About-me:hover .me {
    visibility: visible;
}
.About-me:hover .visibility {
    visibility: visible;
}
.future {
margin-top: 60px;
width: 97%;
height: 300px;
margin-left: 20px;
}
.button {
font-size: 40px;
background-color: black;
color: white;
margin-left: 44%;
margin-top: 2%;
}
.Projects {
display: flex;
justify-content: space-around;
}

.container-1 {
    width: 200px;
    margin: 10px;  
    border: 5px solid  white;
    background-color: gray;
}
.box-1 {
    height: 400px;
    width: 400px;

}
.box-2 {
    height: 400px;
    width: 400px;
    background-image: url("../images/future.jpg");
}
.box-3 {
    height: 400px;
    width: 400px;
    background-image: url("../images/coming-soon2.jpg");
}