* /*added css to my header and a hover*/
{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: cyan;
}

.header {
 padding: 20px;
 font-family: sans-serif;
 background-color: dimgrey;
 font-size: 25px;
}

.header h1 {
    display: inline-block;
}

.header div {
     float: right;
     font-family: sans-serif;
     margin-right: 25px;
     font-size: 25px;
}

.header div ul li{
    display: inline-block;
    margin-left: 20px;
}
.header div ul li :hover {
    color: white;
    font-size: 30px;
}
a {
    text-decoration: none;
    color: black;
}
/*added some color and resized my picture */
p { 
    font-size: 20px;
    font-weight: bold;
   text-align: right;
    width: 400px;
}

.about-me img {
 display:block;
 margin: 20px;


}

.float-right {
    float: right;
    margin: 25px;
    border-style: solid;
    border-color: black;
    height: 250px;
    width: 250px;
}